* {
  margin: 0;
}

img {
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(main-screen__bgc.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.main .surat img {
  width: 100%;
}
.main .href {
  margin-left: 400px;
}
.main .href a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  position: relative;
  bottom: 730px;
  margin-left: 20px;
}
.main .href input {
  width: 130px;
  height: 35px;
  border-radius: 50px;
  position: relative;
  bottom: 730px;
  margin-left: 200px;
}
.main .href input {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  color: white;
}
.main .kurs h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: white;
  position: relative;
  bottom: 550px;
  margin-left: 270px;
}
.main .numbers {
  display: flex;
  gap: 2em;
  position: relative;
  bottom: 470px;
  margin-left: 270px;
}
.main .number1, .main .number2, .main .number3, .main .number4 {
  width: 90px;
  border: 3px solid black;
  text-align: center;
  background: #121212;
  padding: 7px;
  color: white;
}
.content {
  display: flex;
  justify-content: center;
  gap: 3em;
  padding: 30px 30px;
  margin-top: -15px;
  background: #333333;
}
.content .kurs2 input {
  border-radius: 20px;
  text-align: center;
  width: 120px;
  padding: 8px;
  color: white;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  margin-left: 120px;
  padding-top: 10px;
}
.content .rubl h3 {
  width: 440px;
  height: 6px;
  border: 2px solid;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  margin-top: -12px;
  margin-left: 60px;
}
.content .rubl h6 {
  width: 100px;
  height: 2px;
  border: 2px solid white;
  background-color: white;
  margin-left: 500px;
  margin-top: -8px;
}
.content .rubl h4 {
  margin-left: 60px;
  color: white;
}

.content2 {
  display: flex;
  justify-content: center;
  gap: 5em;
  background-color: rgb(0, 0, 0);
  padding: 120px;
  padding-left: 300px;
}
.content2 .surati2 img {
  width: 530px;
  height: 540px;
}
.content2 .text {
  margin-top: 100px;
}
.content2 .text p {
  width: 615px;
  height: 160px;
  color: white;
}

.content3 {
  display: flex;
  padding-left: 200px;
  padding-top: 100px;
  gap: 2em;
  background-color: rgb(0, 0, 0);
  padding-bottom: 100px;
}
.content3 .icon img {
  width: 125px;
  height: 125px;
}
.content3 .text2 h1 {
  font-size: 48px;
  margin-top: 35px;
  color: white;
}
.content3 .text2 p {
  font-size: 16px;
  width: 400px;
  color: white;
}

.content4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding-left: 150px;
  padding-bottom: 100px;
}
.content4 .border1 h1 {
  font-size: 36px;
  color: white;
 
}
.content4 .border1 h2 {
  border: 2px solid;
  width: 325px;
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.content4 .border1 p {
  width: 300px;
  height: 88px;
  color: white;
  position: relative;
  top: 20px;
  
}
.content4 .border2 h1 {
  font-size: 36px;
  color: white;
  position: relative;
  bottom : 13px;
}
.content4 .border2 h2 {
  border: 2px solid;
  width: 325px;
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.content4 .border2 p {
  width: 300px;
  height: 88px;
  color: white;
  position: relative;
  top: 30px;
}
.content4 .border3 h1 {
  font-size: 36px;
  color: white;
  position: relative;
  bottom: 25px;
}
.content4 .border3 h2 {
  border: 2px solid;
  width: 325px;
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.content4 .border3 p {
  width: 300px;
  height: 88px;
  color: white;
  position: relative;
  top: 43px;
}
.content4 .border4 h1 {
  font-size: 36px;
  color: white;
  position: relative;
  bottom: 30px;
}
.content4 .border4 h2 {
  border: 2px solid;
  width: 325px;
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.content4 .border4 p {
  width: 300px;
  height: 88px;
  color: white;
  position: relative;
  top: 50px;
}

.zagolovok {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.zagolovok .text h1 {
  color: white;
  font-size: 48px;
}

.content5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3em;
  padding-top: 120px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 100px;
}
.content5 .slider1 img, .content5 .slider2 img, .content5 .slider3 img {
  width: 100px;
  height: 100px;
}
.content5 .slider1 p, .content5 .slider2 p, .content5 .slider3 p {
  width: 355px;
  color: white;
}
.content5 .slider1 h1, .content5 .slider2 h1, .content5 .slider3 h1 {
  color: white;
}

.content6 {
  background-color: rgb(0, 0, 0);
  padding-bottom: 150px;
}
.content6 .brend, .content6 .text3 {
  display: flex;
}
.content6 .brend .text3, .content6 .text3 .text3 {
  margin-top: 50px;
  color: white;
}
.content6 .brend {
  margin-left: 250px;
  padding-bottom: 20px;
}
.content6 .brend img {
  width: 125px;
  height: 125px;
}
.content6 .logo1 img, .content6 .logo2 img, .content6 .logo3 img, .content6 .logo4 img, .content6 .logo5 img, .content6 .logo6 img, .content6 .logo7 img, .content6 .logo8 img {
  width: 198px;
  height: 93px;
}
.content6 .logo1, .content6 .logo5, .content6 .logo6, .content6 .logo7, .content6 .logo8, .content6 .logo2, .content6 .logo3, .content6 .logo4 {
  padding-left: 40px;
}
.content6 .logo5, .content6 .logo6, .content6 .logo7, .content6 .logo8 {
  padding-left: 30px;
}
.content6 .mainlogo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.content6 .mainlogo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zagolovok2 {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding-left: 250px;
  padding-bottom: 100px;
}
.zagolovok2 .footer img {
  width: 125px;
  height: 125px;
}
.zagolovok2 .text4 h1 {
  margin-top: 50px;
}

.content7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  background-color: rgb(0, 0, 0);
  padding-bottom: 100px;
}
.content7 .dima1 h1 {
  font-size: 48px;
}
.content7 .dima1 img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.content7 .dima1 input {
  text-decoration: none;
  border: 2px solid;
  border-radius: 20px;
  width: 150px;
  padding: 5px;
  margin-left: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
}
.content7 .dima2 img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.content7 .dima2 input {
  text-decoration: none;
  border: 2px solid;
  border-radius: 20px;
  width: 150px;
  padding: 5px;
  margin-left: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
}
.content7 .dima3 img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.content7 .dima3 input {
  text-decoration: none;
  border: 2px solid;
  border-radius: 20px;
  width: 150px;
  padding: 5px;
  margin-left: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.zagolovok3 {
  background-color: rgb(0, 0, 0);
  padding: 100px;
}
.zagolovok3 .jumla {
  text-align: center;
  color: white;
}
.zagolovok3 .jumla h1 {
  font-size: 48px;
}

.end1 {
  background-color: rgb(0, 0, 0);
  padding-bottom: 200px;
  padding-top: 70px;
  padding-left: 500px;
}
.end1 #button1 {
  border: 2px solid;
  width: 400px;
  border-radius: 20px;
  background-color: lightgrey;
  padding: 10px;
}
.end1 #button2 {
  width: 130px;
  padding: 10px;
  margin-left: -130px;
  border: 2px solid;
  border-radius: 20px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.end2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  position: relative;
  top: -100px;
  background-color: rgb(0, 0, 0);
  
}
.end2 .icons1, .end2 .icons2, .end2 .icons3, .end2 .icons4 {
  width: 35px;
  padding: 5px;
  font-size: 36px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  color: white;
}/*# sourceMappingURL=main.css.map */


@media (max-width:778px;) {
  .main{
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    display: none;

  }
  

  .kurs{
    flex-direction: column;
    width: 100%;
    display: none;
    flex-wrap: nowrap;
  }
  
  .numbers{
   flex-direction: column;
   display: none;
   width: 100%;
  }
  
  .content2{
    flex-direction: column;
    width: 100%;
    
  }
  .content3{
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .content4{
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .zagolovok{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .content5{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .content6{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .zagolovok2{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .content7{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .zagolovik3{
   flex-direction: column;
    width: 100%;
    display: none;
  }
  .end1{
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .end2{
    display: none;
   flex-direction: column;
    width: 100%;
  }
}